@import url("https://fonts.googleapis.com/css?family=Questrial");

/* CSS Variables */
:root {
  --main-title-color: #005175;
  --main-subtitle-color: #3e3d3f;
  --range-primary-color: #1091cc;
  --btn-primary-color: #0077c0;
  --results-bg-color: #eaf6fa;
}

/* Base Styles */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  height: 100%;
  font-family: Questrial;
}

input {
  width: 100%;
}

/* Reuseable Utility Classes */
.container {
  max-width: 900px;
  max-height: 700px;
  height: 100%;
  width: 100%;
  padding: 10px 50px 10px 30px;
  margin: auto;
  border: 1px solid #ccc;
}

.wrapper {
  max-width: 80%;
  height: 100%;
  margin: auto;
  margin-bottom: 0;
}

/* Utility - Display */

.mobile-only {
  display: none;
}

/* Flexbox */
.d-flex {
  display: -moz-flex;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.no-wrap {
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

.wrap {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.align-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.flex-full {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 100%;
  flex: 1 0 100%;
  max-width: 100%;
}

.flex-half {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 50%;
  flex: 1 0 50%;
  max-width: 50%;
  min-width: 50%;
}

.d-inline {
  display: inline-block;
}

.d-block {
  display: block;
}

/* Utility - Margin */
.ml-auto {
  margin-left: auto;
}

.ml-xs {
  margin-left: 0.3rem;
}

.mb-xs {
  margin-bottom: 5px;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.mt-1 {
  margin-top: 1rem;
}

.mt-2 {
  margin-top: 2rem;
}

.ml-1 {
  margin-left: 1rem;
}

.ml-2 {
  margin-left: 2rem;
}

.mr-1 {
  margin-right: 1rem;
}
.mr-2 {
  margin-right: 2rem;
}

/* Utility - Padding */
.p-1 {
  padding: 1rem;
}

.p-2 {
  padding: 2rem;
}

.p-3 {
  padding: 3rem;
}

/* Utility - Font/Text */

.bold {
  font-weight: bold;
}

.text-center {
  text-align: center;
}

.title-font {
  font-size: 1.4rem;
  font-weight: normal;
  color: var(--main-title-color);
}

.subtitle-font {
  font-size: 1rem;
  font-weight: normal;
  color: var(--main-subtitle-color);
}

/* Utility - Button */
.btn {
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 10px;
  color: white;
  font-size: 1rem;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  font-weight: 600;
}
.btn-primary {
  background-color: var(--btn-primary-color);
}
/* Specific Styles */

.currency-sign {
  border: 1px inset #ccc;
}

.display-range {
  border: 1px solid #ccc;
  border-radius: 5px;
  min-width: 50px;
  max-width: 50px;
}
.wrapper-calc {
  position: relative;
  color: var(--main-subtitle-color);
  background-color: #fff;
  -webkit-box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  max-height: 600px;
  max-width: 470px;
}

.wrapper-results {
  position: absolute;
  z-index: -1;
  top: 130px;
  background: var(--results-bg-color);
  height: 100%;
  width: 100%;
  max-height: 490px;
  max-width: 298px;
  margin-left: -5px;
  text-align: left;
  font-family: var(--main-subtitle-color);
  font-weight: normal;
}

.hr {
  height: 2px;
  width: 100%;
  border: solid 1px #cbcbcb;
  opacity: 0.5;
}

.hr-header {
  height: 1px;
  width: 100%;
  border: solid 0.5px #cacaca;
}

.input-field {
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
  width: 100%;
}

.input-field:focus {
  border: 1px solid #000;
  outline: 1px solid rgba(0, 0, 0, 0.3);
}

.red-border {
  border: 1px solid red;
}

.error-text {
  color: red;
  margin: 0;
  padding: 0;
}

/* Cross-browser compatible range styles */
.range {
  -webkit-appearance: none;
  -moz-apperance: none;
  border-radius: 6px;
  height: 8px;
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(0.15, #1091cc),
    color-stop(0.15, #ccc)
  );
  cursor: pointer;
}

.range:focus {
  outline: none;
}

.range::-webkit-slider-thumb {
  -webkit-appearance: none !important;
  background-color: #fff;
  border: 1px solid #cecece;
  border-radius: 100%;
  height: 24px;
  width: 24px;
  box-shadow: 0px 1px 1px #ccc;
}

.range::-moz-range-thumb {
  -moz-appearance: none !important;
  background-color: #fff;
  border: 1px solid #cecece;
  border-radius: 100%;
  height: 24px;
  width: 24px;
  box-shadow: 0px 1px 1px #ccc;
}

.range::-moz-range-track {
  overflow: hidden;
  width: 100%;
  height: 8px;
  cursor: pointer;
  background: transparent;
}

/*


.
.range::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
.range::-ms-fill-lower {
  background: #2a6495;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
.range::-ms-fill-upper {
  background: #3071a9;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
.range::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
.range:focus::-ms-fill-lower {
  background: #3071a9;
}
.range:focus::-ms-fill-upper {
  background: #367ebd;
} */

#results-total {
  font-size: 1.3rem;
}
.value-font {
  font-size: 1rem;
  letter-spacing: 5px;
}

.gray {
  color: #3e3d3f;
  opacity: 0.2;
  font-weight: bold;
}

.no-word-wrap {
  white-space: nowrap;
}

.range-val-years {
  margin-right: 26px;
}
/* Animations */
.wrapper-results.fade {
  opacity: 1;
  -webkit-transform: translateY(0%);
  -ms-transform: translateY(0%);
  transform: translateY(0%);
}
/* Media Queries */
@media (max-width: 760px) {
  .wrapper-results {
    display: block;
    position: relative;
    z-index: -1;
    top: -150px;
    max-width: 100%;
    max-height: 450px;
    margin-left: 0;
    padding-bottom: 100px;
    padding-top: 100px;
    text-align: left;
    font-family: var(--main-subtitle-color);
    font-weight: normal;
    opacity: 0;
    -webkit-transition: opacity 0.8s ease-in, -webkit-transform 0.5s ease-in-out;
    transition: opacity 0.8s ease-in, -webkit-transform 0.5s ease-in-out;
    -o-transition: opacity 0.8s ease-in, transform 0.5s ease-in-out;
    transition: opacity 0.8s ease-in, transform 0.5s ease-in-out;
    transition: opacity 0.8s ease-in, transform 0.5s ease-in-out,
      -webkit-transform 0.5s ease-in-out;
    transition: opacity 0.8s ease-in, transform 0.5s ease-in-out,
      -webkit-transform 0.5s ease-in-out;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  .wrapper-calc {
    margin-top: 2rem;
    max-height: 100%;
    max-width: 100%;
  }

  .container {
    border: none;
    padding: 0 10px;
  }

  .wrapper {
    max-width: 100%;
    width: 100%;
    height: 100%;
    margin: auto;
    margin-bottom: 0;
  }

  .mobile-only {
    display: block;
  }

  .wrapper-results p {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 50%;
    flex: 1 0 50%;
  }

  .value {
    text-align: right;
  }

  h3.total-payment.flex-full {
    font-size: 1rem;
    font-weight: normal;
    -webkit-box-flex: 1;
    -ms-flex: 1 0 50%;
    flex: 1 0 50%;
  }

  .wrapper-results .hr {
    margin-bottom: 30px;
  }
}
